.navbar {
    border-radius: 0px !important;
    background-color: white !important;
    padding: 15px !important
}

 .bg-grey {
      background-color: #f6f6f6;
  }

h2 {
    font-family: Lato !important;
    font-weight: 200;
}
#icon img {
    height: 35px;
}

#main {
    font-size: 120%;
}

.navbar li a, .navbar .navbar-brand {
      color:  #4CAF50 !important;
}

h2 {
    font-size: 24px;
    /*text-transform: uppercase;*/
    color:  #4CAF50 !important;
}

body {  
    line-height: 1.8;
    color:  grey !important;
} 

.tab {
    letter-spacing: 5px !important;
    padding-left: 20px !important;
    font-weight: 400;
    font-size: 120% !important;

}

#map {
    display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; 
}


.container-fluid{
    padding-top: 8%;
    padding-bottom: 9%;
    
}
#logo{
    font-family:'Poly', serif !important;
    font-size: 200% !important;
    margin-left: 10%;
    text-align: center;
}

#startText{
     font-family:'Poly', serif !important;
    font-size: 400% !important;
     color:  #4CAF50 !important;
}

#icon{
    /*margin-left: 20%;*/
    width: 30%;
    height: 30%;
}

p{
    font-size: 150%;
}

#tagline{
    font-style: italic;
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  .navbar-nav li a:hover {
      color: #673AB7 !important;
  }
.navbar-nav li.active a{
    color: #673AB7 !important;
    
}
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #673AB7 !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #4CAF50;
  }

